.list {
  height: 100%;
  overflow-y: scroll;
  padding-inline: 1rem;
  padding-top: 1rem;
  margin-bottom: 0px;
}

.message {
  list-style: none;
  border: 1px solid var(--secondary);
  width: fit-content;
  padding-inline: 0.25rem;
  border-radius: 0.25rem;
  word-break: break-all;
}

.message[data-auth-user-message="true"] {
  margin-left: auto;
  border-color: var(--primary);
}

.info-block {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
