.container {
  border: 1px solid var(--secondary);
  display: grid;
  grid-template-columns: max(37%, 200px) 1fr;
  width: 90%;
  max-width: 768px;
  height: 70%;
}

.sidebar {
  border-right: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  max-height: calc(70vh - 2px);
}

.profile {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr min-content;
}

.profile > button {
  white-space: nowrap;
  margin-bottom: 0;
}

.new-room {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
  margin-bottom: 0;
}

.new-room > button {
  width: fit-content;
}

.new-room * {
  margin-bottom: 0rem !important;
}
